<!-- <h1 #h1Variable></h1>
<div *ngFor="let employee of employees">
  <div (click)="h1Variable.innerHTML = childComponent.getEmployeeNameAndGender()">
    <app-display-employee [employee]="employee" #childComponent></app-display-employee>
  </div>
</div> -->

<!-- <button (click)="nextEmployee()" class="btn btn-primary">View next employee</button>
<br><br>
<app-display-employee [employee]="employeeToDisplay" [employeeId]="employeeToDisplay.id"></app-display-employee>
-->

<div class="form-group">
  <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchTerm">
</div>
<div *ngFor="let employee of filteredEmployees">
  <app-display-employee [employee]="employee" [searchTerm]="searchTerm" (notifyDelete)="onDeleteNotification($event)"></app-display-employee>
</div>
