<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
  <div class="panel panel-primary" *ngIf="employee">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-align: center;">{{ panelTitle }}</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="name" class="control-label">Full Name</label>
        <input name="name" [(ngModel)]="employee.name" #name="ngModel" required type="text" class="form-control">
        <span class="help-block" *ngIf="name.invalid && name.touched">Full name is required.</span>
      </div>

      <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input name="email" #email="ngModel" [(ngModel)]="employee.email" pattern="^[A-Za-z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-z0-9-.]+$" type="text" email [required]="contactPreference.value=='Email'" class="form-control">
        <span class="help-block" *ngIf="email.hasError('required') && email.touched">Email is required!</span>
        <span class="help-block" *ngIf="email.hasError('pattern') && email.touched">Email is invalid</span>
      </div>

      <div class="form-group" [class.has-error]="phoneNumber.invalid && phoneNumber.touched">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input id="phoneNumber" [required]="contactPreference.value=='Phone'" #phoneNumber="ngModel" name="phoneNumber" [(ngModel)]="employee.phoneNumber" type="number" class="form-control">
        <span class="help-block" *ngIf="phoneNumber.touched && phoneNumber.hasError('required')">Phone Number is required</span>
      </div>

      <div class="form-group" [class.has-error]="contactPreference.touched && contactPreference.invalid">
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required #contactPreference="ngModel" name="contactPreference" value="Email" [(ngModel)]="employee.contactPreference">
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" required #contactPreference="ngModel" name="contactPreference" value="Phone" [(ngModel)]="employee.contactPreference">
            Phone
          </label>
        </div>
        <span class="help-block" *ngIf="contactPreference.touched && contactPreference.invalid">Contact Preference is required</span>
      </div>

      <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required #gender="ngModel" value="Male" name="gender" [(ngModel)]="employee.gender">
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" required #gender="ngModel" value="Female" name="gender" [(ngModel)]="employee.gender">
            Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.touched && gender.invalid">Gender is required</span>
      </div>

      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" #isActive="ngModel" [(ngModel)]="employee.isActive">
            Is Active
          </label>
        </div>
      </div>

      <div class="form-group" [class.has-error]="department.touched && department.invalid">
        <label for="department" class="control-label">
          Department
        </label>
        <select id="department" appSelectValidator="select" name="department" #department="ngModel" [(ngModel)]="employee.department" class="form-control">
          <option ngValue="select">Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}</option>
        </select>
        <span class="help-block" *ngIf="department.touched && department.hasError('defaultSelected')">Department is required</span>
      </div>

      <div class="row">
        <div class="form-group col-md-5">
          <label for="dateOfBirth">Date Of Birth</label>
          <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" type="text" bsDatepicker
            [bsConfig]="datePickerConfig" placement="right" placeholder="pick date" class="form-control"
            style="cursor: pointer;">
        </div>
      </div>

      <div class="form-group">
        <label for="photoPath2">Photo Path</label>
        <input #photoPath id="photoPath2" name="photoPath" [(ngModel)]="employee.photoPath" type="text"
          class="form-control" [disabled]="previewPhoto">
      </div>

      <div class="form-group">
        <button type="button" (click)="togglePhotoPreview(photoPath.value)" class="btn btn-primary"
        *ngIf="employee.photoPath !== '' && employee.photoPath !== null">
          {{ previewPhoto? "Hide ": "Show " }} Preview
        </button>
      </div>

      <div class="form-group">
        <img [src]="employee.photoPath" height="200" width="200"
        *ngIf="previewPhoto && employee.photoPath !== '' && employee.photoPath !== null">
      </div>

      <!-- <div ngModelGroup="passwordGroup" appConfirmEqualValidator #passwordGroup="ngModelGroup" [class.has-error]="passwordGroup.hasError('notEqual') && !confirmPassword.hasError('required')">

      <div class="form-group" [class.has-error]="password.touched && password.invalid">
        <label for="password" class="control-label">Password</label>
        <input name="password" required type="text" class="form-control" [(ngModel)]="employee.password" #password="ngModel">
        <span class="help-block" *ngIf="password.touched && password.hasError('required')">Password is required</span>
      </div>
      <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <input name="confirmPassword" required type="text" class="form-control" [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
        <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.hasError('required')">Confirm Password is required</span>
        <span class="help-block" *ngIf="confirmPassword.touched && passwordGroup.hasError('notEqual') && !confirmPassword.hasError('required')">Password and Confirm Password does not match</span>
      </div>

    </div> -->

    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>
{{ employeeForm.value | json}}
<br>
<br>
Employee data: {{employee | json}}
